:root {
    --slider-width: 45%;
    --slider-go-left-by: -110%;
}

#slide-bar-comments {
    position: fixed;
    top: 9%;
    left: -110%;
    opacity: 0;
    width: var(--slider-width);
    height: 93%;
    z-index: 3;
    background-color: var(--post-bg-color);
    transition: left 1s ease-in-out,
                opacity 1s ease-in-out;
}

.slide-opened { 
    opacity: 1 !important;
    left: 0 !important;
}

#close-slide-container {
    width: 100%;
    display: flex;
    justify-content: end;

    & > p {
        margin: 20px;
        font-size: large;
        font-weight: bold;
    }
}

#post-content-slider {
    position: fixed;
    top: 8%;
    right: -110%;
    opacity: 0;
    width: 100%;
    height: 92%;
    margin-block: 1%;
    z-index: 3;
    overflow-x: hidden;
    backdrop-filter: blur(7px);
    transition: right 1s ease-in-out,
                opacity 1s ease-in-out;

    & #content {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    
        & img,video {
            width: max-content;
            max-height: 50rem;
            margin-block: 1rem;
            background-color: #292929;
            padding: 4rem;
            border-radius: 2rem;
        }
    }
}

.post-content-slider-opened {
    opacity: 1 !important;
    right: 0 !important;
}

#div-send {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: sticky;
    bottom: 0;
    left: 50%;
    right: 50%;
    gap: 10px;
    width: auto;

    & input {
        border-radius: 10px;
        border: 1px solid #a9a9a9;
        background-color: #fff;
        font-size: large;
        outline: none;
        width: auto;
        padding: 7px;
    }

    & button {
        font-size: large;
        border: none;
        background-color: rgba(37, 123, 194, 0.904);
        border-radius: 14px;
        color: white;
        padding: 10px;
        cursor: pointer;
    }
}

#comments {
    overflow: auto;
    height: 75%;
    padding-bottom: 15px;
}

.user-comment {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 23px 10px;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 14px;
    transition: transform 1s ease-in-out;

    & p {
        color: #000;
    }
}

.comment-options-container {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 7px;
}

.options-opened {
    top: 19% !important;
    opacity: 1 !important;
    z-index: 5 !important;
    visibility: visible !important;
}

.comment-options {
    cursor: pointer;
    color: #000;
}


.fresh-comment {
    transform: scale(0);
}

.comment-container-options {
    position: absolute;
    top: 19%;
    right: 5px;
    background-color: #fff;
    width: 23%;
    padding: 7px;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    transition: opacity .3s ease,
                top .3s ease;
    
    & .option {
        cursor: pointer;
        margin-block: 10px;
        border-bottom: 1px solid #eaeaea;
        display: flex;
        justify-content: space-between;
        transition: padding .3s ease,
                    background-color .3s ease;

        &:hover {
            background-color: #ebe9e9;
            border-radius: 5px;
            padding: 7px;
        }
    }
}

.comment-user {
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
    width: fit-content;
}

@media (max-width: 725px) {
    :root {
        --slider-width: 100%
    }
}