#div-send {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: sticky;
    bottom: 0;
    left: 50%;
    right: 50%;
    gap: 10px;
    width: 100%;
}

#comments {
    overflow: auto;
    height: 90%;
    padding-bottom: 15px;
}

.user-comment {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 23px 10px;
    padding: 10px;
    border-radius: 14px;
    transition: transform 1s ease-in-out;
}

.options-opened {
    top: 19% !important;
    opacity: 1 !important;
    z-index: 5 !important;
    visibility: visible !important;
}

.comment-options {
    cursor: pointer;
    color: var(--text-color);
    position: absolute;
    top: .3rem;
    right: .5rem;
}

.comment-container-options {
    position: absolute;
    top: 19%;
    right: 5px;
    background-color: #fff;
    width: 23%;
    padding: 7px;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    background-color: var(--post-bg-color);
    transition: opacity .3s ease,
                top .3s ease;
    
    & .option {
        cursor: pointer;
        margin-block: 10px;
        border-bottom: 1px solid #eaeaea;
        display: flex;
        justify-content: space-between;
        background-color: var(--post-bg-color);
        transition: padding .3s ease,
                    background-color .3s ease;

        &:hover {
            background-color: #a8a8a8;
            border-radius: 5px;
            padding: 7px;
        }
    }
}

.comment-user {
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
    width: fit-content;
}
