
.media-container {
    position: relative;

    &:hover {

        & .X-btn {
            top: 3rem;
            left: 50%;
            transform: translate(-50%) scale(1);
            height: 3rem;
        }
    }
}

.X-btn {
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    justify-content: center;
    transform: translate(-50%) scale(0);
    transition: transform .5s ease-in-out, top .5s ease-in-out;
    cursor: pointer;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(3px);
    padding: .5rem;
    color: #ff206a;
    border-radius: 7px;
    width: 100%;

    & > p {
        font-size: xxx-large;
    }
}

.ch-media {
    display: none;
}

.post-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    row-gap: 2rem;
}

.post-container {
    display: flex;
    place-content: center;
    margin-inline: 15rem;
}

.post-form {
    width: 100%;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

@media (max-width: 1250px) {
    .post-container {
        margin-inline: 7rem;
    }
}

@media (max-width: 950px) {
    .post-container {
        margin-inline: 1rem;
    }
}