#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 5rem;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & > h1 {
        color: rgb(69 115 171);
    }
}

#profile-container {
    margin-block: 2rem;
    cursor: pointer;
}

form:not(.no-style) {
    transition: var(--color-transition);
    display: flex;
    flex-direction: column;
    background-color: var(--post-bg-color);
    padding: 20px;
    margin-top: 20px;
    border-radius: 2rem;
    gap: 1.5rem;
    width: 40%;
}

#links {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

@media (max-width: 1230px) {
    form:not(.no-style) {
        width: 50%;
    }
}


@media (max-width: 920px) {
    form:not(.no-style) {
        width: 70%;
    }
}


@media (max-width: 660px) {
    form:not(.no-style) {
        width: 90%;
    }
}