#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 5rem;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & > h1 {
        color: rgb(69 115 171);
    }
}

#profile-container {
    margin-block: 2rem;
    cursor: pointer;
}

#links {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
