{% load static %}
<c-body>
    <c-nav_simple></c-nav_simple>
    <div id="container">
        <c-hint_error></c-hint_error>
        <form method="POST" id="user-form">
            <div id="header">
                <h1 id="pic-label">Welcome</h1>
                <img src="{% static 'icons/favicon.png' %}" id="profile-img" alt="user" width="120rem">
            </div>
            {% csrf_token %}
            <div class="field">
                <i class="fa-regular fa-envelope"></i>
                <input type="email" inputmode="email" name="email" id="email-f" placeholder="Enter Your Email..." autocomplete="email" required>
            </div>
            <input type="submit" value="Log in">
        </form>
    </div>
</c-body>