<c-body>
    <c-dialog></c-dialog>
    <input type="hidden" id="user-iddi" value="{{user.id}}">
        <div id="container">
            <div id="theme-div">
                <label for="theme-option">Theme: </label>
                <select id="theme-option" onchange="setTheme(this.value)">
                    <option value="system">System</option>
                    <option value="dark">Dark</option>
                    <option value="light">Light</option>
                </select>
            </div>

            <button type="button" id="acc-delete">Delete Account</button>
        </div>
</c-body>

